.page-title {
  z-index: 2;
  font-size: 36px;
  position: relative;
  display: inline-block;
}
.page-title {
  color: #025791;
}
.page-title:after {
  background-color: #55d2f9;
}
.page-title:after {
  content: "";
  position: absolute;
  height: 15px;
  width: 102%;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}