div.form-item {
  position: relative;
  margin-top: 20px;
}
div.form-item input::placeholder {
	color: transparent;
}
div.form-item input:focus::placeholder {
  font-size: 0.875rem;
	color: #a19494;
  margin: 0px 8px;
}
div.form-item input {
  font-weight: 500;
  color: #495055;
  border-radius: 1rem;
  border: 2px solid  #D9D9D9;
  outline: none;
}
div.form-item span.placeholder {
  position: absolute;
  padding: 0 4px;
  font-family: Roboto, sans-serif;
  color:  #6c757d;
  display: flex;
  align-items: center;
  line-height: 2.5rem;
  top: 0;
  left: 17px;
  transition: all 0.2s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}
div.form-item input:valid + span.placeholder,
div.form-item input:focus + span.placeholder {
  transform: scale(0.8) translateY(-30px);
  background: #fff;
}
div.form-item input:focus{
  color: #284B63;
  /* border-color: #284B63; */
  margin: 6px 0px;
  padding: 0px 18px;
}
div.form-item input:focus + span.placeholder {
  color: #284B63;
  font-size: 1.1rem;
}