.role-radio-button-wrapper-checked:not(.role-radio-button-wrapper-disabled):first-child {
  border-color: #025791;
}
.role-radio-button-wrapper:last-child {
  border-start-end-radius: 6px;
  border-end-end-radius: 6px;
}
.role-radio-button-wrapper-checked:not(.role-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #025791;
  background: #ffffff;
  border-color: #025791;
}
.role-radio-button-wrapper:first-child {
  border-inline-start: 1px solid #d9d9d9;
  border-start-start-radius: 6px;
  border-end-start-radius: 6px;
}
.role-radio-button-wrapper[className^="role-radio"] .role-radio-button-wrapper[className^="role-radio"], .role-radio-button-wrapper[className*=" role-radio"] .role-radio-button-wrapper[className^="role-radio"], .role-radio-button-wrapper[className^="role-radio"] .role-radio-button-wrapper[className*=" role-radio"], .role-radio-button-wrapper[className*=" role-radio"] .role-radio-button-wrapper[className*=" role-radio"] {
  box-sizing: border-box;
}
.role-radio-button-wrapper {
  position: relative;
  display: inline-block;
  height: 32px;
  margin: 0;
  padding-inline: 15px;
  padding-block: 0;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 30px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-block-start-width: 1.02px;
  border-inline-start-width: 0;
  border-inline-end-width: 1px;
  cursor: pointer;
  transition: color 0.2s,background 0.2s,box-shadow 0.2s;
}
.role-radio-button-wrapper >.role-radio-button {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.role-radio-button-wrapper-checked:not(.role-radio-button-wrapper-disabled) {
  z-index: 1;
  color: #025791;
  background: #ffffff;
  border-color: #025791;
}
.role-radio-button-wrapper .role-radio-inner, .role-radio-button-wrapper input[type='checkbox'], .role-radio-button-wrapper input[type='radio'] {
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}