.overflow-y-scroll::-webkit-scrollbar {
  width: 7px;
}

.overflow-y-scroll::-webkit-scrollbar-button {
  background: transparent;
  border-radius: 4px;
}

.overflow-y-scroll::-webkit-scrollbar-track-piece {
  background: transparent;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid transparent;
}

.overflow-y-scroll::-webkit-scrollbar-track {
  box-shadow: transparent;
}